@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*----Scroll----*/
body::-webkit-scrollbar{
  width: 12px;
  background-color: rgba(241, 121, 7, 0.2);
  filter: blur(10px);
}

body::-webkit-scrollbar-thumb{
  background-color: rgba(175, 105, 0, 0.5);
  border-radius: 10px;
}